[submodule "lib-cqrs"]
	path = lib-cqrs
	url = ../CQRS.git
[submodule "lib-asq"]
	path = lib-asq
	url = ../ASQ.git
[submodule "lib-asq-test"]
	path = lib-asq-test
	url = ../AsqTest.git
[submodule "lib-asq-pool"]
	path = lib-asq-pool
	url = ../AsqPool.git
[submodule "lib-asq-tools"]
	path = lib-asq-tools
	url = ../AsqTools.git
